pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.DS_Store
**/.DS_Store
.calva/
.vscode/
.idea/
.cpcache/
.shadow-cljs/
public/js/
node_modules/
.clj-kondo/
.lsp/
*~

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/
.dart_tool/

# Editor backups
#*#
build/
*.iml
