{:deps {org.clojure/core.async {:mvn/version "1.8.741"}
        ring/ring {:mvn/version "1.14.1"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        com.datomic/peer {:mvn/version "1.0.7364"}
        org.postgresql/postgresql {:mvn/version "42.7.3"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        stigmergy/chp {:mvn/version "0.1.0-SNAPSHOT"
                       :exclusions [refactor-nrepl/refactor-nrepl]}}
 :cljd/opts {:kind :flutter :main datomworld.main}
 :paths ["src/clj" "src/cljc" "src/cljs" "src/cljd"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                                cider/cider-nrepl {:mvn/version "0.58.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :fmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.1"}}
                 :main-opts  ["-m" "cljfmt.main" "fix"]}
           :cljs {:extra-paths ["test"]
                  :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.5"}
                               reagent/reagent {:mvn/version "2.0.1"}
                               com.cognitect/transit-cljs {:mvn/version "0.8.280"}}}
           :dev {:extra-paths ["src/dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.5"}
                              cider/cider-nrepl {:mvn/version "0.55.7"}
                              reagent/reagent {:mvn/version "2.0.1"}
                              com.cognitect/transit-cljs {:mvn/version "0.8.280"}}
                 :jvm-opts ["-Dconfig=config.clj"]}
           :cljd {:extra-deps {tensegritics/clojuredart
                               {:git/url "https://github.com/tensegritics/ClojureDart.git"
                                :sha "81b5c03a55cf52b21dc0be8ccfa4827b9889f488"}}
                  :main-opts ["-m" "cljd.build"]}
           :server {:extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}}
                    :jvm-opts ["-Dconfig=config.clj"]
                    :main-opts ["-m" "world.server"]}}}

;; clj -M:nREPL
;; clj -M:fmt
;; clj -M:nREPL:server
;; clj -M:test
;; clj -M:test -n yin.vm-literal-test
;; clj -M:test -n yin.vm-continuation-test
;; clj -M:test -n yang.python-test
;; clj -X:test :nses '[yin.vm-literal-test yin.vm-test]'
;; clj -M:test -v yin.vm-addition-test/test-lambda-with-multiple-operations

;; npx shadow-cljs compile test && node target/node-tests.js
;; clj -M:dev -m shadow.cljs.devtools.cli watch datomworld
;; clj -M:cljs -m shadow.cljs.devtools.cli watch datomworld

;; mise exec -- clj -M:cljd watch 
;; mise exec -- flutter run 

;; To start the emulator:                                                                                              ;; emulator -avd Pixel_3_API_34
;; flutter emulators --launch Pixel_3_API_34
;; emulator -avd Pixel_3_API_34 -no-snapshot-load  
