{:deps {org.clojure/core.async {:mvn/version "1.8.741"}
        ring/ring {:mvn/version "1.14.1"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        com.datomic/peer {:mvn/version "1.0.7364"}
        org.postgresql/postgresql {:mvn/version "42.7.3"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        persistent-sorted-set/persistent-sorted-set {:mvn/version "0.3.0"}
        instaparse/instaparse {:mvn/version "1.5.0"}
        criterium/criterium {:mvn/version "0.4.6"}
        stigmergy/chp {:mvn/version "0.1.0-SNAPSHOT"
                       :exclusions [refactor-nrepl/refactor-nrepl]}}
 :cljd/opts {:kind :flutter :main datomworld.main}
 :paths ["src/clj" "src/cljc" "src/cljs" "src/cljd"]
 :aliases {:clean {:extra-paths ["src/dev"]
                   :exec-fn clean/clean}
           :bench {:extra-paths ["test"]
                   :main-opts ["-m" "yin.vm.bytecode-bench"]}
           :profile {:extra-paths ["test"]
                     :jvm-opts ["-XX:StartFlightRecording=filename=/tmp/datomworld-bytecode-bench.jfr,settings=profile,dumponexit=true"]
                     :main-opts ["-m" "yin.vm.bytecode-bench"]}
           :profile-fast {:extra-paths ["test"]
                          :jvm-opts ["-XX:StartFlightRecording=filename=/tmp/datomworld-bytecode-bench-fast.jfr,settings=profile,dumponexit=true"]
                          :main-opts ["-m" "yin.vm.bytecode-bench" "--fast-only" "--register-only"]}
           :profile-ast-walker {:extra-paths ["test"]
                                :jvm-opts ["-XX:StartFlightRecording=filename=/tmp/datomworld-ast-walker.jfr,settings=profile,dumponexit=true"]
                                :main-opts ["-m" "yin.vm.bytecode-bench" "--ast-walker-only"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                                cider/cider-nrepl {:mvn/version "0.58.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :cljs {:extra-paths ["test" "src/dev"]
                  :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.5"}
                               reagent/reagent {:mvn/version "2.0.1"}
                               com.cognitect/transit-cljs {:mvn/version "0.8.280"}}}
           :dev {:extra-paths ["src/dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.5"}
                              cider/cider-nrepl {:mvn/version "0.58.0"}
                              reagent/reagent {:mvn/version "2.0.1"}
                              com.cognitect/transit-cljs {:mvn/version "0.8.280"}}
                 :jvm-opts ["-Dconfig=config.clj"]}
           :cljd {:extra-paths ["test"]
                  :extra-deps {tensegritics/clojuredart
                               {:git/url "https://github.com/tensegritics/ClojureDart.git"
                                :sha "81b5c03a55cf52b21dc0be8ccfa4827b9889f488"}}
                  :main-opts ["-m" "cljd.build"]}
           :server {:extra-deps {http-kit/http-kit {:mvn/version "2.8.0"}}
                    :jvm-opts ["-Dconfig=config.clj"]
                    :main-opts ["-m" "world.server"]}
           :dao-repl {:main-opts ["-m" "dao.repl-main.jvm"]}
           :fmt {:extra-paths ["src/dev"]
                 :exec-fn tasks/fix-all}
           :kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}
                   :main-opts ["-m" "clj-kondo.main"]}
           :telemetry-server {:main-opts ["-m" "yin.vm.telemetry-server.jvm"]}
           :dep-graph {:extra-paths ["src/dev"]
                       :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}
                       :main-opts ["-m" "dep-graph"]}}}


;; clj -X:fmt

;; clj -M:nREPL

;; clj -M:nREPL:server
;; clj -M:test
;; clj -M:test -n yin.vm-literal-test
;; clj -M:test -n yin.vm-continuation-test
;; clj -M:test -n yang.python-test
;; clj -X:test :nses '[yin.vm-literal-test yin.vm-test]'
;; clj -M:test -v yin.vm-addition-test/test-lambda-with-multiple-operations

;; clj -X:clean

;; npx shadow-cljs compile test && node target/node-tests.js
;; npx shadow-cljs release demo
;; clj -M:dev -m shadow.cljs.devtools.cli watch demo
;; clj -M:cljs -m shadow.cljs.devtools.cli watch demo
;; clj -M:cljs -m shadow.cljs.devtools.cli compile demo
;; clj -M:cljs -m shadow.cljs.devtools.cli release demo


;; mise exec -- clj -M:cljd watch 
;; mise exec -- flutter run 

;; To start the emulator:                                                                                              ;; emulator -avd Pixel_3_API_34
;; flutter emulators --launch Pixel_3_API_34
;; emulator -avd Pixel_3_API_34 -no-snapshot-load  
;; emulator -list-avds

;;  clj -M:dep-graph                    # full report + dep-graph.dot + dep-graph.svg
;;  clj -M:dep-graph --filter "yin.*"   # only yin namespaces
;;  clj -M:dep-graph --layout circo     # choose graphviz layout engine
