name: datomworld_cljd
description: ClojureDart experiment for Datomworld
publish_to: 'none'
environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
