;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/cljs"
  "src/cljc"
  "test"]

 :dependencies
 [[reagent "2.0.1"]]

 :dev-http {9000 "public"}

 :builds
 {:datomworld
  {:target :browser
   :devtools {:use-document-protocol true}
   :modules {:main {:init-fn datomworld.core/init}}}

  :local {:target :browser
          :devtools {:use-document-protocol true}
          :closure-defines {datomworld.core/WEBSOCKET_PORT 8090}
          :modules {:main {:init-fn datomworld.core/init}}}

  :test {:target :node-test
         :output-to "target/node-tests.js"
         :autorun true}}}
