;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/cljs"
  "src/cljc"
  "test"]

 :deps {:aliases [:cljs]}

 :dev-http {9000 "public"}

 :builds {:datomworld {:target :browser
                       :devtools {:use-document-protocol true}
                       :modules {:main {:init-fn yin.demo.browser/init}}}

          :local {:target :browser
                  :devtools {:use-document-protocol true}
                  :closure-defines {yin.demo.browser/WEBSOCKET_PORT 8090}
                  :modules {:main {:init-fn yin.demo.browser/init}}}

          :test {:target :node-script
                 :main test-runner/-main
                 :output-to "target/node-tests.js"}

          :bench {:target :node-script
                  :main dao.stream-bench/-main
                  :output-to "target/bench.js"}}}
